<?xml version='1.0' encoding='utf-8'?>
<widget id="org.esrgc.apps" version="1.1.12" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>UniteSalisbury</name>
  <description>
    Find events around town.
  </description>
  <author email="esrgc@salisbury.edu" href="http://www.esrgc.org">
    Eastern Shore Regional GIS Cooperative
  </author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <plugin name="cordova-plugin-inappbrowser"/>
  <access origin="http://apps.esrgc.org/uniteSalisbury"/>
  <access origin="http://*.tiles.mapbox.com/*" allows-arbitrary-loads-in-web-content='true'/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="data:*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <!-- default icon config -->
  <icon src="icon.png"/>
  <platform name="android">
    <!--
      ldpi    : 36x36 px
      mdpi    : 48x48 px
      hdpi    : 72x72 px
      xhdpi   : 96x96 px
      xxhdpi  : 144x144 px
      xxxhdpi : 192x192 px
    -->
    <icon src="assets/res/android/ldpi/ic_launcher.png" density="ldpi"/>
    <icon src="assets/res/android/mdpi/ic_launcher.png" density="mdpi"/>
    <icon src="assets/res/android/hdpi/ic_launcher.png" density="hdpi"/>
    <icon src="assets/res/android/xhdpi/ic_launcher.png" density="xhdpi"/>
    <icon src="assets/res/android/xxhdpi/ic_launcher.png" density="xxhdpi"/>
    <icon src="assets/res/android/xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" height="180"/>
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" height="60"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" height="120"/>
    <!-- iPad -->
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" height="76"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" height="152"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-76x76@3x.png" width="228" height="228"/>
    <!-- Spotlight Icon -->
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" height="40"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" height="80"/>
    <!-- additional -->
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" height="50"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="100" height="100"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-72x72@1x.png" width="72" height="72"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" height="144"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" height="167"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-20x20@1x.png" width="20" height="20"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" height="29"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" height="58"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-29x29@3x.png" width="87" height="87"/>

    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" height="57"/>
    <icon src="assets/res/ios/AppIcon.appiconset/Icon-App-57x57@2x.png" width="114" height="114"/>
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>
